
@using FaceFinder.Data.Models

<h2>Add Person:</h2>
@{
    <form method="post" action="">
        <input type="hidden" name="id" />
        <p>Фамилия</p>
        <input type="text" name="surname" />
        <p>Имя</p>
        <input type="text" name="name" />
        <p>Отчество</p>
        <input type="text" name="fathname" />
        <input type="submit" value="Добавить" />
    </form>
}