

<h2>Find Person:</h2>
@{
    <form method="post" action="" enctype="multipart/form-data">
        <input type="hidden" name="id">
        <input type="hidden" name="person_id" value=@ViewBag.person_id>
        <input type="file" name="photo">
        <br>
        <input type="submit" value="Найти" />
    </form>
}